@import "tailwindcss";



html, body {
  overflow-x: hidden;
}

/* @layer base {
  body {
    font-family: 'DM Sans', sans-serif;
  }

  h1, h2, h3, h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.05em;
  }
} */